In [14]:
import pandas as pd
from pytrends.request import TrendReq
pytrends = TrendReq(hl='en-US', tz=360)

In [15]:
keyword_list = ['Twitter', 'Elon Musk']
time_interval = 'now 7-d'
pytrends.build_payload(keyword_list, cat=0, timeframe=time_interval, geo="ES")

In [16]:
df = pytrends.interest_over_time()
print("total records fetached:",df.size)
df.head()

total records fetached: 501

                     Twitter  Elon Musk  isPartial
date
2023-02-01 19:00:00       50          1      False
2023-02-01 20:00:00       50          1      False
2023-02-01 21:00:00       55          1      False
2023-02-01 22:00:00       72          1      False
2023-02-01 23:00:00       74          1      False

In [56]:
from pytrends.request import TrendReq
import pandas as pd
pytrend = TrendReq(hl='en-US', tz=360)
pytrend.build_payload(kw_list=['NASDAQ:AAPL', 'NASDAQ:META'],timeframe = 'now 7-d')
df = pytrend.interest_over_time()
df2 = df.drop(['isPartial'], axis=1)
df2.to_csv('rndm.csv')
df2 = pd.read_csv('rndm.csv')

In [57]:
newList = []
oldList = []
for item in df2['date']:
    oldList.append(item)
    newList.append(item.split()[0])
df2['date'] = df2['date'].replace(oldList, newList)

In [58]:
df2

           date  NASDAQ:AAPL  NASDAQ:META
0    2023-02-01            9           31
1    2023-02-01            9          100
2    2023-02-01            7           75
3    2023-02-01            6           46
4    2023-02-02            3           32
..          ...          ...          ...
163  2023-02-08            7           17
164  2023-02-08            5           16
165  2023-02-08            4           14
166  2023-02-08            5           16
167  2023-02-08            3           13

[168 rows x 3 columns]